Repository stuartshay/pwsh-azure-health: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-build, psrule-azure, psscriptanalyzer

bicep-build:
  name: Bicep Build Validation
  entry: 'bash -c ''for file in "$@"; do echo "Building $file..."; az bicep build --file "$file" --stdout > /dev/null || exit 1; done'' --
  
    '
  language: system
  pass_filenames: true
  verbose: true

psrule-azure:
  name: PSRule Azure Validation
  ...

psscriptanalyzer:
  name: PSScriptAnalyzer
  ...

Update
  requirements.psd1
  scripts/logging/test-logging.ps1
Due: psscriptanalyzer

chore: consolidate GitHub Actions rules in renovate config
  renovate.json
Due: none

feat: implement shared infrastructure pattern with User-Assigned Managed Identity
  docs/MIGRATION_GUIDE.md
  docs/SHARED_INFRASTRUCTURE.md
  infrastructure/main.bicep
  infrastructure/main.bicepparam
  scripts/infrastructure/README.md
  scripts/infrastructure/create-policy-exemption.ps1
  scripts/infrastructure/deploy-bicep.ps1
  scripts/infrastructure/setup-shared-identity.ps1
  scripts/infrastructure/setup-shared-identity.sh
  scripts/infrastructure/shared-identity-info.json
  scripts/infrastructure/validate-shared-setup.ps1
Due: bicep-build, psrule-azure, psscriptanalyzer

fix: update destroy workflow to use tag-based deletion
  .github/workflows/infrastructure-destroy.yml
Due: none

fix: pass managedIdentityResourceId parameter to Bicep deployment
  .github/workflows/infrastructure-deploy.yml
Due: none

fix: address PR review suggestions and what-if workflow issues
  .github/workflows/infrastructure-whatif.yml
  .gitignore
  docs/MIGRATION_GUIDE.md
  docs/SHARED_INFRASTRUCTURE.md
  infrastructure/main.bicep
Due: bicep-build, psrule-azure

fix: correct Application Insights listing command in destroy workflow
  .github/workflows/infrastructure-destroy.yml
Due: none

chore: remove shared-identity-info.json from version control
  scripts/infrastructure/shared-identity-info.json
Due: none

fix: correct project tag in Bicep template to match destroy workflow
  infrastructure/main.bicep
Due: bicep-build, psrule-azure

style: fix whitespace formatting in PowerShell scripts
  scripts/infrastructure/create-policy-exemption.ps1
  scripts/infrastructure/deploy-bicep.ps1
Due: psscriptanalyzer

fix: add placeholder value for managedIdentityResourceId in bicepparam
  infrastructure/main.bicepparam
Due: psrule-azure

build: regenerate ARM template from Bicep with updated changes
  infrastructure/main.json
Due: none

Update
  .devcontainer/devcontainer.json
Due: none

fix: address critical and medium priority PR review suggestions
  .github/workflows/infrastructure-destroy.yml
  docs/MIGRATION_GUIDE.md
  docs/SHARED_INFRASTRUCTURE.md
  infrastructure/main.bicep
  infrastructure/main.json
  scripts/infrastructure/validate-shared-setup.ps1
Due: bicep-build, psrule-azure, psscriptanalyzer

Update scripts/infrastructure/README.md
  scripts/infrastructure/README.md
Due: none

fix: query Azure directly for shared identity instead of JSON file
  .github/workflows/infrastructure-deploy.yml
Due: none

feat: add Azure Policy status to deployment summary
  .github/workflows/infrastructure-deploy.yml
Due: none

Add Key Vault cross-project configuration support
  .github/workflows/infrastructure-deploy.yml
  scripts/infrastructure/README.md
  scripts/infrastructure/setup-keyvault-access.ps1
Due: psscriptanalyzer

Fix shellcheck warning in workflow GITHUB_STEP_SUMMARY output
  .github/workflows/infrastructure-deploy.yml
Due: none

Fix Function App name reference in Key Vault secret update
  .github/workflows/infrastructure-deploy.yml
Due: none

Add dynamic SKU support for App Service Plan (Y1/EP1)
  .github/workflows/infrastructure-deploy.yml
  .github/workflows/infrastructure-whatif.yml
  infrastructure/main.bicep
  infrastructure/main.bicepparam
  scripts/infrastructure/deploy-bicep.ps1
  scripts/infrastructure/validate-bicep-sku.ps1
Due: bicep-build, psrule-azure, psscriptanalyzer

Update scripts/infrastructure/validate-bicep-sku.ps1
  scripts/infrastructure/validate-bicep-sku.ps1
Due: psscriptanalyzer

Update infrastructure/main.bicep
  infrastructure/main.bicep
Due: bicep-build, psrule-azure

Add dynamic SKU support for App Service Plan (Y1/EP1) (#68)
  .github/workflows/infrastructure-deploy.yml
  .github/workflows/infrastructure-whatif.yml
  infrastructure/main.bicep
  infrastructure/main.bicepparam
  scripts/infrastructure/deploy-bicep.ps1
  scripts/infrastructure/validate-bicep-sku.ps1
Due: bicep-build, psrule-azure, psscriptanalyzer

chore(deps): update Azure API versions
  infrastructure/main.bicep
Due: bicep-build, psrule-azure

style: apply PSScriptAnalyzer formatting to validate-bicep-sku.ps1
  scripts/infrastructure/validate-bicep-sku.ps1
Due: psscriptanalyzer

refactor: implement PR review suggestions
  infrastructure/main.bicep
  scripts/infrastructure/validate-bicep-sku.ps1
Due: bicep-build, psrule-azure, psscriptanalyzer

fix: add fallback for deployment output parsing
  .github/workflows/infrastructure-deploy.yml
Due: none

Add BATS testing framework with pre-commit integration
  .github/workflows/infrastructure-deploy.yml
  .pre-commit-config.yaml
  scripts/ci/retry-utils.sh
  scripts/local/install-bats.sh
  tests/workflows/README.md
  tests/workflows/retry-utils.bats
Due: none

Add comprehensive testing framework documentation
  docs/TESTING_FRAMEWORK.md
Due: none

refactor: extract what-if logic into reusable function
  .github/workflows/infrastructure-whatif.yml
Due: none

fix: prevent Bicep warnings from corrupting deployment JSON output
  .devcontainer/devcontainer.json
  .github/workflows/infrastructure-deploy.yml
  .pre-commit-config.yaml
  tests/workflows/README.md
  tests/workflows/deployment-output.bats
Due: none

fix: suppress SC1091 shellcheck warning in BATS tests
  .pre-commit-config.yaml
  tests/workflows/retry-utils.bats
Due: none

refactor: extract policy querying logic to reusable script with tests
  .github/workflows/infrastructure-deploy.yml
  scripts/ci/policy-query.sh
  tests/workflows/policy-query.bats
Due: none

fix: use safe deployment pattern in PowerShell script
  scripts/infrastructure/deploy-bicep.ps1
Due: psscriptanalyzer

feat: add Key Vault validation and post-deployment verification
  .github/workflows/infrastructure-deploy.yml
  scripts/ci/deployment-verification.sh
  scripts/ci/keyvault-utils.sh
  tests/workflows/deployment-verification.bats
  tests/workflows/keyvault.bats
Due: none

chore: add BATS extension and ignore test mocks
  .devcontainer/devcontainer.json
  .gitignore
Due: none

feat: add cost estimation and analysis to infrastructure deployment
  .devcontainer/devcontainer.json
  .github/workflows/infrastructure-deploy.yml
  .pre-commit-config.yaml
  .yamllint
  README.md
  docs/COST_ESTIMATION.md
Due: none

fix: correct ACE and azure-cost-cli installation methods
  .github/workflows/infrastructure-deploy.yml
Due: none

Path conditions:
  bicep-build: any of: \.bicep$
  psrule-azure: any of: ^infrastructure/.*\.(bicep|bicepparam)$
  psscriptanalyzer: any of: \.(ps1|psm1|psd1)$
