Repository stuartshay/pwsh-azure-health: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-lint, bicep-build, psscriptanalyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^scripts/pre-commit-hook\.sh$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          - --config-data
          - "{extends: default, rules: {line-length: {max: 120}, document-start: disable, truthy: {check-keys: false}}}"

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  - repo: local
    hooks:
      - id: bicep-lint
        name: Bicep Linter
        entry: >
          bash -c 'for file in "$@"; do
          echo "Linting $file...";
          az bicep lint --file "$file" --diagnostics-format sarif > /dev/null || exit 1;
          done' --
        language: system
        files: \.bicep$
        pass_filenames: true
        verbose: true

      - id: bicep-build
        name: Bicep Build Validation
        entry: >
          bash -c 'for file in "$@"; do
          echo "Building $file...";
          az bicep build --file "$file" --stdout > /dev/null || exit 1;
          done' --
        language: system
        files: \.bicep$
        pass_filenames: true
        verbose: true

      - id: psscriptanalyzer
        name: PSScriptAnalyzer
        entry: >
          pwsh -NoProfile -Command
          "Import-Module PSScriptAnalyzer -ErrorAction Stop;
          Invoke-ScriptAnalyzer -Path . -Recurse
          -Settings ./.PSScriptAnalyzerSettings.psd1
          -ReportSummary -EnableExit 2>&1 | Where-Object { $_ -notmatch 'Object reference not set' }"
        language: system
        files: \.(ps1|psm1|psd1)$
        pass_filenames: false
        verbose: true

      - id: pester-tests
        name: Run Pester Tests
        entry: >
          pwsh -NoProfile -Command
          "$ErrorActionPreference = 'Stop';
          Import-Module Pester -MinimumVersion 5.0.0;
          try {
            Import-Module Az.Accounts -ErrorAction Stop;
            Import-Module Az.ResourceGraph -ErrorAction Stop;
          } catch {
            Write-Host 'Warning: Az modules not available, skipping tests' -ForegroundColor Yellow;
            exit 0;
          }
          $config = New-PesterConfiguration;
          $config.Run.Path = './tests/unit';
          $config.Output.Verbosity = 'Minimal';
          $config.TestResult.Enabled = $false;
          $config.CodeCoverage.Enabled = $false;
          $results = Invoke-Pester -Configuration $config;
          if ($results.FailedCount -gt 0) { exit 1 }"
        language: system
        pass_filenames: false
        stages: [pre-push]
        verbose: true

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [pester-tests, psscriptanalyzer, bicep-lint, bicep-build]
  submodules: false

Fix devcontainer build and shellcheck issues
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

chore(deps): update Azure resource API versions
  infrastructure/main.bicep
Due: bicep-lint, bicep-build

feat: Add retry logic with exponential backoff to infrastructure workflows
  .github/workflows/infrastructure-deploy.yml
  .github/workflows/infrastructure-destroy.yml
  .github/workflows/infrastructure-whatif.yml
Due: none

fix: Replace az group exists with az group show for reliable RG detection
  .github/workflows/infrastructure-deploy.yml
Due: none

fix: Add WEBSITE_AUTH_ENABLED setting to comply with Azure Policy
  infrastructure/main.bicep
Due: bicep-lint, bicep-build

Add authsettingsV2 config for Function App authentication
  infrastructure/main.bicep
Due: bicep-lint, bicep-build

Fix output name in deployment verification
  .github/workflows/infrastructure-deploy.yml
Due: none

Fix deployment output capture in retry wrapper
  .github/workflows/infrastructure-deploy.yml
Due: none

Redirect retry function messages to stderr
  .github/workflows/infrastructure-deploy.yml
Due: none

Update
  README.md
  infrastructure/main.json
Due: none

Make PSScriptAnalyzer hook gracefully handle missing module
  .pre-commit-config.yaml
Due: none

Add Function App code deployment workflow
  .github/workflows/function-deploy.yml
Due: none

Add CORS configuration and exclude health endpoint from authentication
  infrastructure/main.bicep
Due: bicep-lint, bicep-build

Update Readme
  README.md
Due: none

Add function keys management and API testing scripts
  .gitignore
  scripts/README.md
  scripts/local/get-function-keys.ps1
  scripts/local/test-api.ps1
Due: psscriptanalyzer

feat: implement M2M authentication with function keys and Azure AD tokens
  infrastructure/main.bicep
  scripts/local/get-m2m-token.ps1
  scripts/local/test-api.ps1
  scripts/setup/setup-m2m-auth.ps1
Due: bicep-lint, bicep-build, psscriptanalyzer

fix: address PR review comments
  infrastructure/main.bicep
  scripts/local/get-m2m-token.ps1
  scripts/local/test-api.ps1
  scripts/setup/setup-m2m-auth.ps1
Due: bicep-lint, bicep-build, psscriptanalyzer

fix: skip ServiceHealth test when Az modules are unavailable
  tests/unit/ServiceHealth.Tests.ps1
Due: psscriptanalyzer

feat: add detailed logging to GetServiceHealthTimer
  src/GetServiceHealthTimer/run.ps1
Due: psscriptanalyzer

docs: highlight bicep infrastructure
  README.md
Due: none

build: ignore pre-commit cache
  .gitignore
  .pre-commit-config.yaml
  .ps-rule/ps-rule.yaml
  requirements.psd1
Due: psscriptanalyzer

Fix PSScriptAnalyzer issues and improve PowerShell code quality
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .devcontainer/profile.ps1
  .pre-commit-config.yaml
  requirements.psd1
  scripts/infrastructure/create-policy-exemption.ps1
  scripts/infrastructure/deploy-bicep.ps1
  scripts/local/get-function-keys.ps1
  scripts/local/get-m2m-token.ps1
  scripts/local/setup-local-dev.ps1
  scripts/local/test-api.ps1
  scripts/local/update-env-from-azure.ps1
  scripts/setup/setup-m2m-auth.ps1
  tests/unit/HealthCheck.Tests.ps1
Due: psscriptanalyzer

feat: add logging scripts for Application Insights queries
  .gitignore
  src/logs/README.md
  src/logs/query-timer-logs.ps1
  src/logs/stream-logs.ps1
  src/logs/test-logging.ps1
Due: psscriptanalyzer

refactor: move logging scripts from src/logs to scripts/logging
  scripts/logging/README.md
  scripts/logging/query-timer-logs.ps1
  scripts/logging/stream-logs.ps1
  scripts/logging/test-logging.ps1
Due: psscriptanalyzer

fix: make Pester test hook optional when module not available
  .pre-commit-config.yaml
Due: none

Fix storage authentication and logging issues
  scripts/logging/README.md
  scripts/logging/query-timer-logs.ps1
  src/shared/Modules/ServiceHealth.psm1
  src/shared/Scripts/BlobCache.ps1
Due: psscriptanalyzer

Fix Resource Graph query syntax for Service Health
  infrastructure/modules/roleAssignments.bicep
  src/shared/Modules/ServiceHealth.psm1
Due: bicep-lint, bicep-build, psscriptanalyzer

Add comprehensive security and permissions documentation
  docs/SECURITY_PERMISSIONS.md
Due: none

Update README with prominent security and permissions section
  README.md
Due: none

Update
  docs/SECURITY_PERMISSIONS.md
Due: none

feat: Add GetHealthDashboard API endpoint with analytics
  scripts/health/test-health-dashboard.ps1
  src/GetHealthDashboard/function.json
  src/GetHealthDashboard/run.ps1
Due: psscriptanalyzer

docs: Add GetHealthDashboard API documentation
  README.md
Due: none

fix: Address Codex/Copilot review comments
  scripts/health/test-health-dashboard.ps1
  src/GetHealthDashboard/run.ps1
Due: psscriptanalyzer

style: Apply code formatting fixes
  README.md
  src/GetHealthDashboard/run.ps1
Due: psscriptanalyzer

fix: Fix PowerShell module installation in DevContainer
  .devcontainer/post-create.sh
  requirements.psd1
Due: psscriptanalyzer

style: Fix all PSScriptAnalyzer warnings
  .PSScriptAnalyzerSettings.psd1
  scripts/health/test-health-dashboard.ps1
  scripts/logging/test-logging.ps1
  src/GetHealthDashboard/run.ps1
Due: psscriptanalyzer

docs: Format Security Features as markdown list
  README.md
Due: none

chore: configure Renovate to bundle Azure API version updates
  renovate.json
Due: none
